<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <!-- Columna 1 -->
      <div class="col-md-4 mb-4">
        <h4 class="mb-4">EDÉN Inmobiliaria</h4>
        <p>Ofrecemos el mejor servicio inmobiliario con profesionalismo y dedicación para ayudarte a encontrar tu hogar ideal.</p>
      </div>

      <!-- Columna 2 -->
      <div class="col-md-2 mb-4">
        <h5 class="mb-4">Enlaces Rápidos</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a (click)="redireccionamiento.redirigirAHome()"  class="text-white text-decoration-none link-clickable">Inicio</a></li>
          <li class="mb-2"><a (click)="redirigirARegistroInmueble()"  class="text-white text-decoration-none link-clickable">Hagamos Negocios</a></li>
          <li class="mb-2"><a href="#"  class="text-white text-decoration-none link-clickable">Asesores</a></li>
          <li class="mb-2"><a (click)="redireccionamiento.redirigirAPoliticaDatos()"  class="text-white text-decoration-none link-clickable">Política de Tratamiento de Datos Personales</a></li>
        </ul>
      </div>

      <!-- Columna 3 -->
      <div class="col-md-3 mb-4">
        <h5 class="mb-4">Contacto</h5>
        <p><i class="bi bi-geo-alt me-2"></i> Cra 15 # 88-64, Bogotá</p>
        <p><i class="bi bi-telephone me-2"></i> (601) 345 6789</p>
        <p><i class="bi bi-envelope me-2"></i> info&#64;edeninmobiliaria.com</p>
      </div>

      <!-- Columna 4 -->
      <div class="col-md-3 mb-4">
        <h5 class="mb-4">Síguenos</h5>
        <a href="#" class="social-icon"><i class="bi bi-facebook"></i></a>
        <a href="#" class="social-icon"><i class="bi bi-instagram"></i></a>
        <a href="#" class="social-icon"><i class="bi bi-twitter"></i></a>
        <a href="#" class="social-icon"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>


    <hr class="mt-4 mb-4">

    <div class="text-center">
      <p>© 2023 EDÉN Inmobiliaria. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>



